.cover__background {
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-image: url(../../../images/background.png);
  background-size: cover;
  background-position: center;

}

.cover__background::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42 44 47 / 30%);
  transition: background-color .3s linear;
}

.cover__background:hover::after {
  background-color: rgba(42 44 47 / 80%);

}

@media screen and (max-width: 1279px) {
  .cover__background{
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 200px;
  }
}
