.footer {
  margin: 92px 48px 24px;
  display: grid;
  grid-template-columns: repeat(5, auto) 1fr;
  align-items: end;
  gap: 18px;
  justify-content: start;
}



@media screen and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 64px 16px 24px;
    grid-template-columns: auto;
    gap: 32px;
  }
}
